.add-facility-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.add-facility-container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  flex: 1;
  margin: 0 5px;
}

.submit-button:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  flex: 1;
  margin: 0 5px;
}

.cancel-button:hover {
  background-color: #d32f2f;
}

.error-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  z-index: 1000;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


/* Contenedor del select */
.content-selectFac {
  position: relative;
  width: 100%;
  max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 10px 0;
}

/* Estilos básicos del select */
.content-selectFac select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none; /* Elimina la apariencia predeterminada del select */
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

/* Estilos del contenedor para agregar una flecha personalizada */
.content-selectFac::after {
  content: "\25BE"; /* Símbolo de flecha hacia abajo */
  font-size: 16px;
  color: #333;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Estilo del select cuando está enfocado */
.content-selectFac select:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilo del select cuando está deshabilitado */
.content-selectFac select:disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}