/* Estilos para la vista de nóminas */

.payroll-details-container {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100vh; /* Limitar la altura máxima para evitar overflow */
}

.employee-info {
  text-align: center;
  margin-bottom: 20px;
}

.employee-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.payrolls-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden; /* Evitar scroll horizontal */
  border: 1px solid #ddd;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.payroll-table tbody {
  display: block;
  max-height: 350px; /* Espacio suficiente para 10 filas */
  overflow-y: auto; /* Solo scroll vertical */
  overflow-x: hidden; /* Evitar scroll horizontal */
}

.payroll-table thead,
.payroll-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.sort-btn {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.sort-btn:hover {
  background-color: #0056b3;
}

.payroll-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.payroll-table th,
.payroll-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.payroll-table th {
  background-color: #007bff;
  color: white;
}

.payroll-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.payroll-table tr:hover {
  background-color: #ddd;
}

.payroll-row-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.payroll-row:hover {
  background-color: #ddd;
}