.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile-contentP {
  text-align: center;
}

.profile-image-sectionP {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 20px;
}

.employeeP-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #007bff;
}

.profile-detailsP {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-detailsP h3 {
  color: #333;
  font-size: 26px;
  margin-bottom: 10px;
}

.profile-detailsP p, .profile-detailsP input {
  color: #555;
  font-size: 18px;
  margin: 5px 0;
  text-align: center;
}

.profile-actionsP {
  margin-top: 20px;
    display: flex;
    flex-direction: column; /* Cambia a columna */
      align-items: center; /* Centra los botones horizontalmente */
    gap: 15px;
  }

.edit-actionsP {
  display: flex;
  gap: 10px;
}

.editProfile-btn {
  background-color: #007bff;
  color: white;
  padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.editProfile-btn:hover {
  background-color: #0056b3;
}

.changePassword-btn {
  background-color: #007bff;
  color: white;
  display: block;
  padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.changePassword-btn:hover {
  background-color: #0056b3;
}

.saveProfile-btn {
  background-color: #28a745;
  color: white;
    padding: 10px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      margin-right: 5px;
}

.saveProfile-btn:hover {
  background-color: #218838;
}

.cancelProfile-btn {
  background-color: #dc3545;
  color: white;
    padding: 10px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      margin-left: 5px;
}

.cancelProfile-btn:hover {
  background-color: #c82333;
}

.deleteProfile-image-btn {
  background-color: #ff4d4d;
  color: white;
  margin-top: 10px;
    padding: 10px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
}

.deleteProfile-image-btn:hover {
  background-color: #cc0000;
}

.profile-details input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
}

input[type='file'] {
  margin-top: 10px;
}

.loading {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  text-align: center;
  margin-top: 20%;
}

.password-modalP {
  position: fixed;
  top: 0;
  left: 180px; /* Ajusta esto según el ancho del sidebar */
    width: calc(100% - 180px); /* Ocupa solo el espacio restante */
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contentProfile {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  position: relative;
  text-align: center;
}

.modal-contentProfile h3 {
  margin-bottom: 20px;
}

.error-textP {
  color: red;
  margin-bottom: 10px;
}

.input-groupP {
  margin-bottom: 15px;
  text-align: left;
}

.input-groupP label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.input-groupP input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttonsP {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.select-profile {
  color: #555;
    font-size: 18px;
    margin: 5px 0;
    text-align: center;
}
