.centered-containerR {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  flex-direction: column;
  width: 100%;
}

.reset-password-containerR {
  background-color: #fff;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Controla el ancho máximo */
  width: 100%; /* Asegura que el contenedor se ajuste al tamaño disponible */
  text-align: center;
  box-sizing: border-box; /* Incluye el padding dentro del cálculo del ancho */
}

.reset-password-containerR h2 {
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}

.reset-password-formR {
  width: 100%; /* Se asegura de que el formulario ocupe todo el ancho disponible */
}

.input-groupR {
  position: relative;
  width: 100%; /* Asegura que el contenedor de cada input ocupe todo el ancho */
  margin-bottom: 30px;
}

.input-groupR input {
  width: 100%; /* Ocupa el 100% del contenedor */
  padding: 12px 45px 12px 12px; /* Espacio a la derecha para el ícono del ojo */
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box; /* Incluye el padding dentro del cálculo del ancho */
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #007bff;
}

.eye-icon:hover {
  color: #0056b3;
}

.reset-buttonR {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.reset-buttonR:hover {
  background-color: #0056b3;
}

.messageR {
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
}

.messageR.error {
  color: red; /* Rojo para errores */
}

.messageR.success {
  color: green; /* Verde para éxito */
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.loading-indicator progress {
  width: 120px;
  height: 25px;
}

.loading-indicator p {
  margin-top: 15px;
  font-size: 16px;
  color: #007bff;
}
